[Desktop Entry]
Version=1.0
Type=Link
Name=erikdubois/ArchXfce4: Automated script to install Xfce and all its programs on Arch Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://github.com/erikdubois/ArchXfce4
